.latest-match-team-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Bree Serif';
}

.latest-match-header {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Bree Serif';
}

.other-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Bree Serif';
}
